---
layout: layout.html
---
[[##body:
    <div class="uk-margin-small" uk-grid>
        <h3>Welcome back, <span class="uk-text-capitalize">[[= locals.user.name ]]</span>!</h3>
        <div class="uk-width-1-1">
            <h4>Available Balances</h4>
            [[? locals.user.balances ]]
            <ul class="uk-list uk-margin-left">
                [[ for(let b in locals.user.balances) { ]]
                <li>[[= b + ': ' + locals.user.balances[b].toLocaleString() ]]</li>
                [[ } ]]
            </ul>
            [[??]]
            None
            [[?]]
        </div>
        <div class="uk-width-1-1">
            <h4>Recent Deposits</h4>
            [[? locals.user.deposits ]]
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Currency</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                [[ let arr = locals.user.deposits.sort(function (a, b) {return new Date(b.date) - new Date(a.date);}).slice(0, 5); for(let i = 0; i < arr.length; i++) { ]]
                    <tr>
                        <td>[[= arr[i].date ]]</td>
                        <td>[[= arr[i].currency ]]</td>
                        <td style="color: limegreen">+ [[= arr[i].amount.toLocaleString() ]]</td>
                    </tr>
                [[ } ]]
                </tbody>
            </table>
            [[??]]
            None
            [[?]]
        </div>
        <div class="uk-width-1-1">
            <h4>Recent Transactions</h4>
            [[? locals.transactions ]]
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                        <th>Currency</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                [[ for(let i = 0; i < locals.transactions.length; i++) { ]]
                    <tr>
                        <td>[[= locals.transactions[i].date ]]</td>
                        <td>[[= locals.transactions[i].sender.email ]]</td>
                        <td>[[= locals.transactions[i].recipient.email ]]</td>
                        <td>[[= locals.transactions[i].currency ]]</td>
                        [[? locals.transactions[i].recipient.email == locals.user.email ]]
                        <td style="color: limegreen">+ [[= locals.transactions[i].amount.toLocaleString() ]]</td>
                        [[??]]
                        <td style="color: #CC3131">- [[= locals.transactions[i].amount.toLocaleString() ]]</td>
                        [[?]]
                    </tr>
                [[ } ]]
                </tbody>
            </table>
            [[??]]
            None
            [[?]]
        </div>
    </div>
#]]