[[? locals.user ]]
    <li [[? locals.tab == 'deposit']] class="uk-active" [[?]]><a href="/account/deposit">Deposit</a></li>
    <li [[? locals.tab == 'history']] class="uk-active" [[?]]><a href="/account/history">History</a></li>
    <li [[? locals.tab == 'send']] class="uk-active" [[?]]><a href="/payment/send">Send</a></li>
    <li [[? locals.tab == 'request']] class="uk-active" [[?]]><a href="/payment/request">Request</a></li>
    <li><a href="/user/logout">Log out</a></li>
[[??]]
    <li [[? locals.tab == 'login']] class="uk-active" [[?]]><a href="/user/login">Login</a></li>
    <li [[? locals.tab == 'register']] class="uk-active" [[?]]><a href="/user/register">Register</a></li>
[[?]]