---
layout: layout.html
---
[[##body:
    <div class="uk-container uk-flex uk-flex-center">
        <form action="/payment/send" method="post">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Send</legend>
                <div class="uk-margin">
                    <label for="name">Name</label><br>
                    <input id="name" name="name" class="uk-input uk-form-width-large" type="text" required>
                </div>
                <div class="uk-margin">
                    <label for="email">E-mail address</label><br>
                    <input id="email" name="email" class="uk-input uk-form-width-large" type="text" required>
                </div>
                <div class="uk-margin">
                    <label for="currency">Currency</label><br>
                    <select id="currency" name="currency" class="uk-input uk-select" required>
                            [[ for(c in locals.currencies) { ]]
                                <option value= [[= locals.currencies[c] ]] >[[= locals.currencies[c] ]]</option>
                            [[ } ]]
                    </select>
                </div>
                <div class="uk-margin">   
                    <label for="amount">Amount</label><br>
                    <input id="amount" name="amount" class="uk-input uk-form-width-large" type="text" required>
                </div>
                <div class="uk-margin uk-clearfix">
                    <div class="uk-float-left">
                        <button class="uk-button uk-button-default" type="submit">Send</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
#]]